* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    background-color: #000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    border: none;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #000;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #d4d4d4;
}

.operator {
    background-color: #ffa500;
    color: #fff;
}

.equal-sign {
    background-color: #ff8c00;
    color: #fff;
    grid-column: span 2;
}

.all-clear {
    background-color: #ff4500;
    color: #fff;
}

.decimal {
    background-color: #e0e0e0;
}
